[data-component="sticky-accordion-header"] {
  --sticky-accordion-top: 0px;
  position: sticky;
  top: var(--sticky-accordion-top);
}

[data-slot="accordion-item"]:first-child [data-component="sticky-accordion-header"] {
  background-color: var(--background-stronger);
}

[data-component="sticky-accordion-header"][data-expanded],
[data-slot="accordion-item"][data-expanded] [data-component="sticky-accordion-header"] {
  z-index: 10;
}
