name: Check Links

on:
  push:
    branches: [main, dev]
  pull_request:
  schedule:
    # Run daily at 9am UTC
    - cron: "0 9 * * *"
  workflow_dispatch: # Allow manual trigger

jobs:
  link-checker:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Link Checker
        uses: lycheeverse/lychee-action@v2
        with:
          args: "**/*.md"
          fail: true
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
